<div>
<div class="wrapper">
    <div class="btn-area">
        <label for="chkBox">Претплатете се за последните новости</label>
    </div>
  </div>
  
  <input type="checkbox" name="" id="chkBox">
  <div class="mainContnt">
    <div class="box">
        <div class="boxes bx1"></div>
        <div class="boxes bx2">
            <h3>Претплатете се:</h3>
            <div class="login-form">
                <input type="text" placeholder="Име">
                <input type="email" placeholder="Емаил">
                <input type="submit" value="Испрати">
            </div>
            <div class="close-box">
                <label for="chkBox" class="box-close">X</label>
            </div>
        </div>
    </div>
  </div>
</div>
