<div style="display:flex;margin-left: 50px;margin-top: 100px;">

<div class="card-custom" *ngFor="let card of cards;let i=index">
<mat-card  class="example-card">
    <mat-card-header>
      <div mat-card-avatar [style.background-image]="card.headersrc"></div>
      <mat-card-title>{{card.name}}</mat-card-title>
      <mat-card-subtitle>{{card.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="image-custom"
    [src]="card.src" alt="Photo">
    
    <mat-card-actions>
        <a  mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">
            <mat-icon>favorite</mat-icon>
          </a>
      <!-- <button mat-button><a routerLink="/create">Learn more</a></button> -->

      <button mat-button  (click)="deleteItem(card.name)">Delete</button>
      <button mat-button><a [routerLink]="['/create', id, i]">Edit</a></button>
      
    </mat-card-actions>
  </mat-card>

</div>
<div  class="card-custom">
  <mat-card  class="example-card">
    <mat-card-header>
      <div mat-card-avatar ></div>
      <mat-card-title>Add new place</mat-card-title>
      <mat-card-subtitle>Place</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="image-custom"
    src='./assets/add-2935429_960_720.webp'  alt="Photo">
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
        <a mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">
            <mat-icon>favorite</mat-icon>
          </a>
      <button mat-button ><a [routerLink]="['/create', id,'']">Click to add</a></button>
    </mat-card-actions>
  </mat-card>
</div>
</div>