<p>about-us works!</p>
<div>
  <div style="width: 500px;display: inline-block;">
  <ngx-slick-carousel class="carousel" [config]="{ slidesToShow: 1, slidesToScroll: 1, autoplay: true }">
    <div ngxSlickItem *ngFor="let url of imageUrls">
      <img src="{{url}}" alt="Image" class="slide-image">
    </div>
  </ngx-slick-carousel>
</div>
<div style="width: 500px;display: inline-block;">
  <p>Овој блог е наменет пред сè за сите родители и деца кои водат секојдневна „борба“ за тоа кој да владее со далечинското од телевизорот, таблетот со глупавите бесцелни игри и јутуб содржини и слично. Доста е! Ајде во природа! Да дишеме чист воздух, да дишеме слобода, да учиме за планините, растенијата, животните, да научиме како да бидеме издржливи, силни и самостојни и да уживаме во супер интересно и безбедно опкружување. Резултат: среќни и изморени деца со црвени образи и уште посреќни родители!

    Тука ќе постираме идеи за интересни планинарски и велосипедски тури кои вреди да ги посетите со вашите деца.
    
    turnimedakinisam.mk е проектна задача на двајца основци кои играњето игри на таблет и бесцелното талкање по јутуб решија да го заменат со уредување на блогот turnimedakinisam.mk со цел да ги споделат со вас авантурите во природа и да ве „турнат“ и мотивираат и вие да го направите истото.</p>
</div>
</div>


