<div style="margin-left: 300px;margin-top: 200px;">

    <form class="example-form" #form="ngForm" [formGroup]="subForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Name of the place</mat-label>
        <input formControlName="name"  matInput [errorStateMatcher]="matcher"
               placeholder="Ex. sharr mountain">
        <mat-error *ngIf="!subForm.get('name')?.valid">
          Please enter a name for the place!
        </mat-error>
      
      </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Location</mat-label>
          <input formControlName="location" matInput placeholder="Ex. Skopje" value="Skopje">
          <mat-error *ngIf="!subForm.get('location')?.valid">
            Location is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Image url</mat-label>
            <input formControlName="src" matInput placeholder="" value="">
            
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Map tag</mat-label>
            <input formControlName="map" matInput placeholder="" value="">
          
          </mat-form-field>
    
        <!-- <mat-form-field appearance="fill">
          <mat-label>Select what kind of place it is</mat-label>
          <mat-select formControlName="kind" disableRipple>
            <mat-option value="1">Restaurant</mat-option>
            <mat-option value="2">Mountain</mat-option>
            <mat-option value="3">Lake</mat-option>
          </mat-select>
        </mat-form-field> -->
      
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <button mat-raised-button [disabled]="!form.valid" (click)="onFormSubmit()" ><a [routerLink]="['/cards',id]">Submit</a></button> 
        <button mat-raised-button color="primary" type="button" (click)="cancel()">Cancel</button>
    
        <a mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">
          <mat-icon>favorite</mat-icon>
        </a>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
    
    </form>
    
    </div>