<div style="margin-left: 300px;margin-top: 200px;">

    <form class="example-form" #form="ngForm" [formGroup]="subForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Име на местото</mat-label>
        <input formControlName="name"  matInput [errorStateMatcher]="matcher"
               placeholder="Титов врв">
        <mat-error *ngIf="!subForm.get('name')?.valid">
          Внесете име на местото!
        </mat-error>
      
      </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Локација</mat-label>
          <input formControlName="location" matInput placeholder="Шар планина" value="Skopje">
          <mat-error *ngIf="!subForm.get('location')?.valid">
           Локацијата е <strong>задолжителна.</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Слика - урл</mat-label>
            <input formControlName="src" matInput placeholder="" value="">
            <mat-error *ngIf="!subForm.get('src')?.valid">
              Локацијата е <strong>задолжителна.</strong>
             </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Мапа</mat-label>
            <input formControlName="map" matInput placeholder="" value="">
          
          </mat-form-field>
    
        <!-- <mat-form-field appearance="fill">
          <mat-label>Select what kind of place it is</mat-label>
          <mat-select formControlName="kind" disableRipple>
            <mat-option value="1">Restaurant</mat-option>
            <mat-option value="2">Mountain</mat-option>
            <mat-option value="3">Lake</mat-option>
          </mat-select>
        </mat-form-field> -->
      
        <mat-form-field class="example-full-width">
          <mat-label>Опис</mat-label>
          <textarea formControlName="description" matInput placeholder="Титов врв се наоѓа..."></textarea>
        </mat-form-field>
        <button mat-raised-button [disabled]="!form.valid" (click)="onFormSubmit()" >Зачувај</button> 
        <button mat-raised-button color="primary" type="button" (click)="cancel()">Откажи</button>
    
    
    </form>
    
    </div>