/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';
/* @import "~ngx-slick-carousel/slick/slick.css"; */

.mdc-tab .mdc-tab__text-label{
    color: white!important;
    opacity: 90%;
   
}
.mdc-tab--active .mdc-tab__text-label{
    color: rgb(79, 10, 75) ;
}
.navbar-font {
    font-family: fantasy;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    
    
  }
  



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
